<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Evgenii BUSYGIN">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}">
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/stackoverflow-dark.min.css">
		{% endblock %}

	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ importmap() }}
			<script src="{{ asset('theme.js')}}"></script>
			<script src="{{ asset('purify.min.js')}}"></script>
			<script src="{{ asset('scrollToBottom.js')}}"></script>
			<script src="{{ asset('modal.js')}}"></script>
			<script src="{{ asset('keyInput.js')}}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/9.1.2/marked.min.js" integrity="sha512-rfX4p3RNnxdwLT3wWP1K0NR3ztTobn+sISlT9WhxDDK00zNYbQ6MCHA5OHm0hqKAzEMXYCgFrp8iY/ER5MkXqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{% endblock %}
	</body>
</html>
